<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
	<!-- Vista Previa -->
	<div th:fragment="previa">
		<div class="card"> 

			<div id="vistaprevia" class="carousel carousel-dark slide" data-bs-ride="carousel">
				<!-- Controls -->
				<div class="carousel-indicators">
    				<button type="button" data-bs-target="#vistaprevia" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    				<button type="button" data-bs-target="#vistaprevia" data-bs-slide-to="1" aria-label="Slide 2"></button>
    				<button type="button" data-bs-target="#vistaprevia" data-bs-slide-to="2" aria-label="Slide 3"></button>
  				</div>
  				
  				<!-- Inner -->
				<div class="carousel-inner">
    				<div class="carousel-item active" data-bs-interval="10000">
      					
      					<img th:src="@{/img/views/burger.jpg}" class="d-block w-100" alt="Mercado" >
      					<div class="carousel-caption d-none d-md-block text-white">
        					<h5>Hamburguesas</h5>
        					<p>Disfruta tu lo creas nosotros lo montamos</p>
      					</div>
    				</div>
    				<div class="carousel-item" data-bs-interval="10000">
      					<img th:src="@{/img/views/pizza.jpg}" class="d-block w-100" alt="Personaje Porteño">
      					<div class="carousel-caption d-none d-md-block text-white">
        					<h5>Pizzas</h5>
        					<p>Disfruta tu lo creas nosotros lo montamos</p>
      					</div>
    				</div>
    				<div class="carousel-item">
      					<img th:src="@{/img/views/chorrillana.jpg}" class="d-block w-100" alt="Hombre Conectado" >
      					<div class="carousel-caption d-none d-md-block text-white">
        					<h5>Chorrillanas</h5>
        					<p>Disfruta tu lo creas nosotros lo montamos</p>
      					</div>
    				</div>
				</div>
				
				<button class="carousel-control-prev" type="button" data-bs-target="#vistaprevia" data-bs-slide="prev">
    				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
    				<span class="visually-hidden">Previous</span>
  				</button>
  				
  				<button class="carousel-control-next" type="button" data-bs-target="#vistaprevia" data-bs-slide="next">
    				<span class="carousel-control-next-icon" aria-hidden="true"></span>
    				<span class="visually-hidden">Next</span>
  				</button>
			</div>
		</div>	
	</div>
		
</body>
</html>