<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace ="layout/public :: head">
</head >
<body>
	<!-- Menu -->
	<header th:replace ="layout/public :: menu"></header>

	<!-- Object Fondos -->
	<class="container text-center my-3" th:fragment="hamburguesas">
		<br><br><br>
	<div >
		<h2 class="font-weight-light">Hamburguesas</h2>
	</div >
		<div id="hamburguesas" class="carousel slide carousel-dark text-center" data-bs-ride="carousel">
			
			<!-- Objects -->
			<div class="carousel-inner py-4" role="listbox" >
				<div class="carousel-item active" >
					<div class="container" >
						<div class="row">
							<div class="col-lg-4" th:each="producto: ${fondos}">
								<div th:replace="object/producto :: producto" >
								</div>
								<br><br>
							</div>
						</div>
					</div>
				</div>
			</div>			
			<div th:replace ="object/paginator_nav :: paginator"> </div>
		</div>
	</div>

	<script th:src="@{/js/menu.js}"></script>
	
	<!-- Footer -->
	<footer th:replace ="layout/public :: footer"></footer>

</body >
</html>