<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/service :: head"></head>

<body>

	<header th:replace="layout/service :: menu"></header>

	<div class="container py-4">
		<div class="card bg-dark text-white">
			<div class="card-header bg-secondary text-center" th:text="${titulo}"></div>
			<div class="card-body">

				<div th:object="${ingrediente}" th:remove="tag">
					<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger" role="alert">
						<li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
					</ul>
				</div>

				<form th:action="@{/ingredientes/save}" th:object="${ingrediente}" method="post"
					enctype="multipart/form-data">
					<div class="row g-3 align-items-center">
						<label for="nombre" class="col-form-label">Nombre</label>
						<div class="col-auto">
							<input type="text" th:field="*{nombre}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small class="form-text text-danger"
								th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
						</div>
					</div>

					<div class="row g-3 align-items-center">
						<label for="categoria" class="col-form-label">Categoria</label>
						<div class="col-auto">
							<input type="text" th:field="*{categoria}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small class="form-text text-danger"
								th:if="${#fields.hasErrors('categoria')}" th:errors="*{categoria}"></small>
						</div>
					</div>

					<div class="row g-3 align-items-center">
						<div class="col-auto">
							<label for="precio_compra" class="col-form-label">Precio de compra</label>
							<input type="text" th:field="*{precio_compra}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small class="form-text text-danger"
								th:if="${#fields.hasErrors('precio_compra')}" th:errors="*{precio_compra}"></small>
						</div>
					</div>
					
					<div class="row g-3 align-items-center">
						<div class="col-auto">
							<label for="cantidad" class="col-form-label">Cantidad</label>
							<input type="text" th:field="*{cantidad}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small class="form-text text-danger"
								th:if="${#fields.hasErrors('cantidad')}" th:errors="*{cantidad}"></small>
						</div>	
						<div class="col-auto">
							<label for="medida" class="col-form-label">Medida</label>
							<select th:field="*{medida}" class="form-select">
								<option th:value="'u'" th:text="unidad"></option>
								<option th:value="'g'" th:text="g"></option>
								<option th:value="'kg'" th:text="kg"></option>
								<option th:value="'cc'" th:text="cc"></option>
							</select>
						</div>
						
						<div class="col-auto">
							<label for="dispnibilidad" class="col-form-label">Disponibilidad</label>
							<select th:field="*{disponibilidad}" class="form-select">
								<option th:value="'Si'" th:text="Si"></option>
								<option th:value="'No'" th:text="No"></option>
							</select>
						</div>
						
					</div>
				
					<div class="mb-3 py-4">
						<div class="col-auto">
							<input type="submit" th:value="${titulo}" class="btn btn-secondary" />
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<footer th:replace="layout/service :: footer"></footer>

</body>

</html>